@use '../helpers' as *;
.person {
  margin: 15px;
  &__image {
    background: #f4f8fa;
    padding: $padding-14;
    border-radius: $radius-md;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: $radius-md;
    }
  }

  &__tabs {
    .nav-tabs {
      padding-right: $padding-2xl;
      .nav-link {
        background: $white-100;
        color: #000;
        border: 1px dashed #bbc7dc;
        border-bottom: none;
        margin: 0 5px;
        @include boldfont;
        border-radius: $radius-sm $radius-sm $radius-none $radius-none;
        padding: 10px $padding-2xl;
        img {
          filter: grayscale(1);
          height: 24px;
        }
      }
      .active {
        background: $baige;
        border: 1px solid $baige;
        color: #9f8544;
        border-bottom: 0;
        img {
          filter: invert(47%) sepia(110%) saturate(100%) hue-rotate(250deg)
            brightness(93%) contrast(77%);
        }
      }
    }

    .tab-content {
      background: $white-100;
      padding: $padding-2xl;
      border: 1px solid #e9f0fc;
    /*  box-shadow: #eff1f9 0 3px 8px 4px;*/
      border-radius: $radius-md;
      margin-top: -1px;

      .form-control-rows {
        display: flex;
        gap: $gap-20;
        .form-control {
          background-color: #f9f9f9;
          border: 1px solid #ededed;
        }
        .form-control:focus {
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }

  .createViolitionContainer--creatviolition--person {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0;
  }

  .intabs {
    padding: 0;
    margin-top: 0;
    .person__image {
      padding: 5px;
      img {
        height: 80px;
      }
    }
  }
}
