@use '../helpers' as *;
.Sessionexpired {
  background: #f8f9ff;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-2xl;
  box-shadow: 0px 0px 10px 0px #d2d4d6;
  width: 340px;
  margin: 0 auto;

  border-radius: $radius-xl;
  &_message {
    width: 100%;
    background: $white-100;
    border: 1px solid #e2e8f0;
    padding: $padding-xs;
    text-align: center;
    border-radius: $radius-lg $radius-lg 0 0;

    h3 {
      @include boldfont;
      color: #066dee;
      background: #f8f9ff;
      padding: $padding-14;
      border-radius: 5px;
    }
    h4 {
      @include boldfont;
      color: $darkBlue;
    }
    h6 {
      @include meduimfont;
      color: #636161;
    }
    span {
      @include meduimfont-reg-12;
      color: #909090;
    }
  }
  &_action {
    display: flex;
    align-items: center;
    gap: $gap-2xl;
  }
}
