@use '../helpers' as *;
.violitionStatistics {
    .chart-wrapper {
        margin-top: 10px;
        display: flex;
        gap: $gap-10;
        align-items: flex-start;

        .chart-container {
            width: 100%;
            background: white;
            padding: $padding-14;
            box-shadow: $shadow-2;
            border-radius: $radius-md;

            .barChart {
                width: 100%;
            }
        }

        .legend-container {
            background: white;
            padding: $padding-14;
            box-shadow: $shadow-2;
            border-radius: $radius-md;
            width: 20%;

            .totalviolition {
                @include font-lg-500;
                font-weight: 600 !important;
                display: flex;
                background: #f9f8f5;
                border-radius: $radius-sm;

                span {
                    color: $Primary-500
                }
            }

            .legend-item {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            .legend-color {
                width: 20px;
                height: 20px;
                margin-left: 10px;
                border-radius: 3px;
            }
        }
    }
}
