
@use '../helpers' as *;
.nav-tabs {
    --bs-nav-tabs-border-color: transparent;

    .nav-item {
        margin: 5px 5px 0;
    }
}

nav {
    padding-right: $padding-20;
}

.nav-link {
    background: $Neutral-100 !important;
    color: $Neutral-800 !important;
    border: none !important;
    border-radius: 6px 6px 0 0 !important;
    display: flex;
    align-items: center;
    position: relative;
    gap: $gap-8;
    padding: 12px !important;
    cursor: pointer !important;
    border-bottom: 0 !important;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    cursor: pointer;
    @include boldfont-16;

    .new-total {
        background: $Neutral-25 !important;
        color: $Neutral-900 !important;
        padding: $padding-2;
        border-radius: $Radius-100;
        min-width: 50px;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: $Neutral-900;
    }
}

    .nav-link.active {
        background: $Primary-800 !important;
        color: $white-100 !important;

        .new-total {
            background: rgb(255 255 255 / 36%) !important;
            color: $white-100 !important;
        }

        svg {
            fill: $white-100 !important;
        }


     /*   &::after {
            content: "";
            display: block;
            opacity: 1;
            position: absolute;
            z-index: 2;
            height: 3px;
            width: 90%;
            left: 5%;
            right: 5%;
            bottom: 0;
            border-radius: $Radius-100;
            -webkit-border-radius: $Radius-100;
            -moz-border-radius: $Radius-100;
            -ms-border-radius: $Radius-100;
            -o-border-radius: $Radius-100;
            background: $Neutral-25;
        }*/
    }


.tab-content {
    border: 1px solid #1b8354;
    border-radius: $Radius-6;
        -webkit-border-radius: $Radius-6;
        -moz-border-radius: $Radius-6;
        -ms-border-radius: $Radius-6;
        -o-border-radius: $Radius-6;
    padding: $padding-14;

}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: var(--theme-primary) !important ;
    border: 1px solid var(--theme-primary) !important ;
    color: $white-100 !important;
}



.nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem rgb(0 0 0 / 1%);
}
